@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* NAVBAR */

body {
    background: white;
}

.navbar {
    padding: 10px;
    background-color: black;
    color: white;
    font-family: "Karla";
    width: 100%;
}

.navbar__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  
  .navbar__item {
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
  }
  
  .navbar__item img {
    height: 30px;
  }
  
  .navbar__link {
    text-decoration: none;
    color: #fff;
  }
  
  .navbar__link:hover {
    color: blue;
  }

/* HOME */

  .home_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 4px solid black;
  }
  
  .home_container {
    display: flex;
    letter-spacing: px;
    text-align: center;
    margin: 40px;
    flex-direction: column;
    align-items: center;
  }
  
  .london_intro {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "Karla";
    
  }
  
  .london_slogan {
    font-size: 20px;
    margin-bottom: 30px;
    font-family: "Cormorant+Garamond";
  }
   
  .home_section img {
    width: 40%;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  /* SOBRE LONDRES */

  .about_container {
    display: flex;
    text-align: justify;
    margin: 40px;
    flex-direction: column;
    align-items: center;
  }

  .about_intro {
      padding: 20px;
      font-family: "Karla";
      font-weight: bolder;
      font-size: 32px;
      
  }

  .about_phrase_intro {
    font-family: "Cormorant+Garamond";
  }

  .about_phrase {
      padding: 20px;
      font-family: "Cormorant+Garamond";
  }

  .about_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 4px solid black;
  }

/* QUÉ VER EN LONDRES */

.to_see_container {
    display: flex;
    text-align: center;
    margin: 40px;
    flex-direction: column;
    align-items: center;
  }
  
  .to_see_intro {
      padding: 20px;
      font-family: "Karla";
      font-weight: bolder ;
      font-size: 32px;
  }

.to_see_phrase {
font-family: "Cormorant+Garamond";
}

.london_list {
    padding: 20px;
    list-style: none;
}

.london_list h1 {
  font-family: "Karla";
}

.london_list img {
    width: 40%;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 20px;
}

.london_list p {
    padding: 20px;
    font-family: "Cormorant+Garamond";
}

.to_see_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 4px solid black;
}

/* FORM */

.form_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.suscribete {
    padding: 10px;
    text-align: center;
    font-family: "Karla";
}

.form_complete {
    padding: 10px;
    font-family: "Karla";
}

input {
    padding: 10px;
}

.name {
    padding: 10px;
}

.surname {
    padding: 10px;
}

.adress {
    padding: 10px;
}

.post_code {
    padding: 10px;
}

.email {
    padding: 10px;
}

label {
  font-family: "Cormorant+Garamond";
  font-size: 15px;
}

.form_button {
  color:black;
  text-decoration:none;
  padding:10px 20px;
  border:1px solid #000;
  display:block;
  width:150px;
  text-align:center;
  margin:20px 10px;
  background-color: rgb(139, 181, 221);
}

footer {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
}
  
footer p {
    margin: 14px;
    font-size: 18px;
}

.living_in_london {
    text-align: center;
}




  


  



  